streamlit==1.32.0
pandas==2.1.4
python-dateutil==2.8.2

python -m venv venv
source venv/bin/activate       # mac/linux
# .\venv\Scripts\activate      # windows
pip install -r requirements.txt
streamlit run YourFileName.py
